* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

#root {
  padding: 10px;
}

#root .full_path {
  display: inline-block;
  margin: 10px 0;
}

.wrapper_list {
  display: flex;
  width: 100%;
}

#list, #output_file {
  border: 1px solid gainsboro;
  padding: 10px;
}

#output_file {
  overflow-x: hidden;
  max-height: 85vh;
  overflow-y: scroll;
}

#list {
  width: 40%;
}

#output_file {
  width: 60%;
}

#list_items {}

#list_items .folder::before {
  content: '\1F5C0';
  margin-inline-end: 1ch;
}

.item {}

.item:hover {
  background-color: gainsboro;
  cursor: pointer;
}

#output_file {}

#search_text {
  width: 100%;
}

#output_file #text_file {
  width: 100%;
}